// Modal Container
.delete-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 10%;
  width: 40%;
  overflow-y: scroll;
  border-radius: 12px;
}

.delete-details-modal-close{
  cursor:pointer;

  .MuiSvgIcon-root{
    margin-left: 10px;
    margin-top: 10px;
  }
}

.delete-form-modal{
  display:flex;
  justify-content: center;
}

.delete-form-buttons{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.btn-cancel{
  margin-right: 20px;
}