.overlay-button { 
  border: 0;
  margin:0;
  padding:0;
  border-radius: 50%;  
  cursor: pointer;
  position: absolute;
  bottom: 10px; 
  right: 10px; 
}

.plus-icon:hover{
  color: #af6015 ;
  transition: color 0.5s ease;
}

.plus-icon {
  color: #EB8C34; 
  font-size: 36px;
  line-height: 38px;
  background-color: white;
  border-radius: 50%;  
}