.activi__footer{
  display: flex;
  background-color: #f9f8f5;
  height: 300px;
}

.footer__logo__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 1728px;
  padding: 30px;
}

.footer__footer__ {
  display: flex;
  flex-direction: column;
  align-items:center;
  flex: 1 1;
}

.footer__footer__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-top: 20px;
}

.footer__logo{
  .footer__logo__title {
    margin-left: 4px;
  }
}

.footer__logo__details{
  font-size: 15px;
  color: #777777;
}

.footer__media__links{
  display: flex;
  gap: 20px;
  a {
    color: black;
  }

  svg{
    font-size: 25px;
  }
}

.footer__footer__email{
  display: flex;
  gap: 25%;
  padding-left: 50px;
  padding-top: 20px;
  flex: 2 1;

  hr{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 80%;
    color: #EB8C34;
  }

  a{
    text-decoration: none;
    color: #777777;
    font-size: 15px;
  }

  a:hover{
    color: #424242
  }
}


.footer-products-title{
  font-weight: 600;
}


.footer-products, .footer-resources, .footer-service{
  display: flex;
  flex-direction: column;
  gap: 5px;  
  list-style: none;
  padding:0;

  li {
    margin-top: 10px;
  }
}





.footer__form{
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;

  .footer__form__label{
    margin-bottom: 10px;
  }

  input{
    border: none;
    padding: 10px;
    border-bottom: black 1px solid;
  }
}
