.home-container{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-nav-bar-container{
  display: flex;
  justify-content: center;
  background: #EB8C34;
}

.footer-content-container{
  margin-top: auto;
}