.nav-menu-items {
  height: 100vh; // Ensure the sidebar fills the height of the viewport
  background: #EB8C34;

  .ant-menu{
    display:flex;
    flex-direction: column;
    align-content: space-between;
    background: #EB8C34;

    .ant-menu-item{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      padding-top: 35px;
      padding-bottom: 20px;

      .anticon, .MuiSvgIcon-root {
        font-size: 25px;
      }
      .ant-menu-title-content{
        margin-inline-start:0;
      }
    }

    .ant-menu-item.dashboard-menu-item:hover,
    .ant-menu-item.exercise-menu-item:hover, 
    .ant-menu-item.logout-menu-item:hover,
    .ant-menu-item.about-menu-item:hover {
      background:#001529;
      color:white;
      
    }
    .ant-menu-item-selected{
      background-color:#001529;
  
      .ant-menu-title-content, .anticon{
        color: white;
      }
    }
  }
  
  .toggle{
    display:flex;
    justify-content:space-around;
    align-items: flex-end;
    flex: 0;
    margin-bottom: 20px;
    background: #EB8C34;
  }
  
}
