.about-container {
  display: flex;
  background-color: #f5eadf;
}

.about-container Sidebar {
  flex: 200px;
}

.about-content {
  flex-direction: column;
}

.about-title {
  top: 25%;
  left: 100%;
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

.about-body2,
.about-body3,
.about-body4,
.about-body5 {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

.about-body2 {
  margin-top: 10%;
  margin-left: 100px;
}

.about-body3 {
  margin-top: 10%;
  margin-left: 100px;
}
.about-body4 {
  margin-top: 10%;
  margin-left: 100px;
}
.about-body5 {
  margin-top: 10%;
  margin-left: 100px;
}
