.exercise-modal-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 50px;
  top: 50px;
  width: 75%;
  height: 75%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.exercise-modal_description, 
.exercise-modal_exercises, 
.exercise-modal_equipment, 
.exercise-modal_video_url {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.exercise-modal_close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
}

.exercise-modal_muscle_group {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.exercise-modal_muscle_group:hover {
  opacity: 1;
}
