.exercise-modal-container{
justify-content: flex-end;

}

.exercise-modal_close-button{

}

.exercise-modal_exercises{

}

.exercise-modal_muscle_group{
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.exercise-modal_muscle_group:hover{
  opacity: 1;
}


.exercise-modal_photo_url{

}

.exercise-modal_description, .exercise-modal_equipment{

}

